
@media all and (min-width: 300px) {
  
    .container form {
      margin: 0 auto;
      margin-top: 100px;
      max-width: 400px;
      -webkit-box-shadow: 0px 0px 1px 1px  #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
      -moz-box-shadow:    0px 0px 1px 1px #ccc;  /* Firefox 3.5 - 3.6 */
      box-shadow:         0px 0px 1px 1px #ccc; 
      padding: 10px;
      height: 400px;
      border-radius: 0.1rem;
      background-color: white;
    }
  }
.label2{
 margin-left: 5px;   
}
.btn2{
    width: 100%;
    margin-bottom: 110px;
    margin-top: 10px;
    font-size: 20px;
    
}
ul {
	overflow: auto;
}

ul li {
	list-style-type: none;
	float: left;
}

ul li a i {
	background: #205D7A;
	color: #fff;
	width: 25px;
	height: 25px;
	border-radius: 20px;
	font-size: 30px;
    text-align: center;
    justify-content: center;
    margin-right: 10px;
    padding-top: 5px;

}
.fa-facebook {
    background:#3b5998
    
} 
.fa-linkedin {
	background:#007bb6
}
.fa-twitter {
	background:#00aced
}
.google-plus {
	background:#dd4b39
}
